<?xml version='1.0' encoding='utf-8'?>
<widget id="org.jlemon.crypto" version="0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
    <name>Trumpy Click</name>
    <description>
		A satirical endless idle game based around Trump's immigration policies.
	</description>
    <author email="joeyclemon@gmail.com" href="https://jlemon.org">
		Joey Lemon
	</author>
    <icon height="120" platform="ios" src="www/images/icon2x.png" width="120" />
    <splash height="1334" platform="ios" src="splash/ios/iphone_6_7.png" width="750" />
    <splash height="2208" platform="ios" src="splash/ios/iphone_6+_7+.png" width="1242" />
    <engine name="ios" spec="~4.4.0" />
    <platform name="ios">
        <gap:config-file overwrite="true" parent="UIStatusBarHidden" platform="ios">
            <true />
        </gap:config-file>
        <gap:config-file overwrite="true" parent="UIViewControllerBasedStatusBarAppearance" platform="ios">
            <false />
        </gap:config-file>
    </platform>
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="30000" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <preference name="Suppresses3DTouchGesture" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="cordova-plugin-webviewcolor" spec="2.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.1" />
    <plugin name="cordova-plugin-admob-free" spec="0.13.0" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.1" />
    <plugin name="cordova-plugin-admob-mediation-inmobi" spec="https://github.com/rebrandsoftware/cordova-plugin-admob-mediation-inmobi.git" />
</widget>
