<?xml version='1.0' encoding='utf-8'?>
<widget id="org.jlemon.crypto" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
    <name>Trumpy Click</name>
    <description>
		A satirical endless idle game based around the deportation of illegal southern immigrants.
	</description>
    <author email="joeyclemon@gmail.com" href="https://jlemon.org">
		Joey Lemon
	</author>
    <icon height="120" platform="ios" src="www/images/icon2x.png" width="120" />
    <engine name="ios" spec="~4.4.0" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orienation" value="portrait" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="cordova-plugin-webviewcolor" spec="2.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.1" />
    <plugin name="cordova-plugin-admob-free" spec="0.13.0" />
</widget>
