html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*:not(input):not(textarea) {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
} 

@font-face {
    font-family: profont;
    src: url(Pro-Font.ttf);
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: bigfont;
    src: url(Gobold-Bold.ttf);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes zoom {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(2deg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

body {
	/* Background color for shop */
	background-color: #2280BA;
	
	overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.bg {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.bg img {
	position: relative;
	width: 750px;
	height: 750px;
	top: 50%;
	left: 50%;
	margin: -375px 0 0 -375px;
	transform: translateZ(0);
	animation: spin 80s infinite linear;
}

.canvas {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	/*box-shadow: inset 0 0 200px #0B5888;*/
}

.news {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 20px;
	width: 10000px;
	background-color: rgba(0, 0, 0, 0.5);
}

.news span {
	position: relative;
	font-family: profont;
	font-size: 15px;
	color: #fff;
	overflow: hidden;
	margin-top: -15px;
}

.news span img {
	position: relative;
	top: 2px;
	width: 15px;
	margin-right: 5px;
}

.img-container {
	position: fixed;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	text-align: center;
	user-select: none;
}

.map {
	top: 20px;
}

.map img {
	width: 400px;
}

.face {
	bottom: 100px;
	filter: drop-shadow(2px 2px 4px #000);
}

.face img {
	width: 185px;
	animation: zoom 3s infinite linear;
}

.count {
	position: fixed;
	bottom: 5px;
	left: 8px;
	font-family: bigfont;
	font-size: 19px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
	user-select: none;
	text-decoration: none;
}

.count .pers {
	font-family: profont;
	font-size: 15px;
}

.added {
	display: none;
	position: fixed;
	bottom: 50px;
	left: 5px;
	font-family: bigfont;
	font-size: 20px;
	color: #47ce29;
	opacity: 0;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.overlay {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.3);
}

.alert {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 150px;
	margin-left: -150px;
	margin-top: -75px;
	background-color: #fff;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
	border-radius: 4px;
}

.alert .header {
	height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.alert .header img {
	height: 40px;
	margin-top: 5px;
	margin-left: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.alert .header p {
	display: inline-block;
	vertical-align: top;
	font-family: bigfont;
	font-size: 30px;
	margin-left: 15px;
	margin-top: 5px;
}

.alert .message {
	text-align: center;
	font-family: profont;
	font-size: 20px;
	padding: 5px;
}

.alert .exit {
	position: absolute;
	top: -4px;
	right: 3px;
	font-family: profont;
	font-size: 25px;
}

.scroll-container {
	overflow: hidden;
}

.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 256px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
}

.slideout-menu-left {
	left: 0;
}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
	background-color: #FFF;
	min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}

.vid-img {
	position: fixed;
	bottom: 135px;
	right: 8px;
	width: 45px;
	height: auto;
	filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
	user-select: none;
}

.vid-img:active {
	width: 41px;
}

.vid-reward {
	position: fixed;
	bottom: 118px;
	right: 6px;
	width: 80px;
	height: auto;
	filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
	font-size: 16px;
	font-family: profont;
	color: #fff;
	text-align: right;
	user-select: none;
}

.video-loading {
	display: none;
	position: fixed;
	bottom: 138px;
	right: 9px;
	width: 45px;
}

.shop-img {
	position: fixed;
	bottom: 7px;
	right: 6px;
	width: 50px;
	height: auto;
	filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
	user-select: none;
}

.shop-img:active {
	width: 46px;
}

.shop-container {
	margin-bottom: 50px;
	padding-right: 30px;
}

.shop-menu {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.shop-menu .no-scrollbar {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-right: 17px;
}

.shop-menu .settings-img {
	position: absolute;
	top: 5px;
	left: 240px;
	width: 30px;
}

.shop-menu .settings-img:active {
	width: 26px;
	top: 7px;
	left: 243px;
}

.shop-menu .settings {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: -200px;
	left: 0px;
	background-color: #fff;
}

.shop-menu .settings p {
	width: 237px;
	height: 30px;
	padding-top: 5px;
	margin-left: 16px;
	margin-bottom: 7px;
	text-align: center;
	font-family: profont;
	font-size: 25px;
	border: 2px solid #000;
}

.shop-menu .settings p:active {
	opacity: 0.5;
	border: 2px solid rgba(0, 0, 0, 0.4);
}

.shop-menu h1 {
	width: 280px;
    font-size: 35px;
    font-family: profont;
    text-align: center;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
}

.shop-menu .shop-item {
	position: relative;
	width: 260px;
	height: 70px;
	margin-left: 0px;
	padding-left: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	font-size: 18px !important;
	user-select: none;
}

.shop-menu .shop-item:active {
	font-size: 18.5px !important;
}

.shop-menu .shop-item img {
	width: 50px;
	height: 50px;
	margin-top: 8px;
}

.shop-menu .shop-item .desc {
	display: inline-block;
	margin-top: 7px;
	margin-left: 20px;
	height: 100%;
	text-align: left;
	font-family: bigfont;
	vertical-align: top;
	user-select: none;
}

.shop-menu .shop-item .desc .name {
	font-family: bigfont;
}

.shop-menu .shop-item .desc .more {
	font-family: profont;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.65);
}

.shop-menu .shop-item .cost {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	vertical-align: top;
	margin-top: 12px;
	margin-left: 20px;
	font-size: 28px;
	font-family: profont;
}

.shop-menu .shop-item .amount {
	position: absolute;
	left: 22px;
	bottom: 0px;
	width: 50px;
	font-size: 14px;
	font-family: profont;
	text-align: right;
}

.light {
	opacity: 0.3;
}